:root {
	--font-color: rgba(0, 0, 0, .9);
	--bg-color: #fff;
	--primary-color: rgba(0, 0, 0, 1);
	--secondary-color: rgba(0, 0, 0, .5);
	--light-bg-color: rgba(0, 0, 0, .1);
}

[data-theme="dark"] {
	--font-color: rgba(255, 255, 255, 1);
	--bg-color: #090b28;
	--primary-color: rgba(255, 255, 255, 1);
	--secondary-color: rgba(255, 255, 255, .5);
	--light-bg-color: rgba(255, 255, 255, .1);
}

* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
	font-family: Montserrat, 'Roboto', 'Noto', sans-serif;
}

::-webkit-scrollbar {
	width: 3PX;
	height: 3px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--light-bg-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--secondary-color);
}

::placeholder {
	color: var(--secondary-color);
	text-overflow: ellipsis;
	transition: all .2s;
}

::selection {
	background: var(--primary-color);
	color: var(--bg-color);
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes zoomin {
	from {
		opacity: 0;
		transform: translate(0, -64px) scale(0);
	}

	to {
		opacity: 1;
		transform: translate(0, -64px) scale(1);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	font-size: 16px;
	font-weight: 500;
	color: var(--font-color);
	background-color: var(--bg-color);
	animation: fadein .2s;
	transition: all .2s;
}

a {
	color: inherit;
	text-decoration: none;
}

a.link:hover,
.book-authors:hover,
.info:hover {
	color: var(--primary-color);
	transition: all .2s;
}

a[href^="https://www.google.com/?hl=en"] {
	display: none !important
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: 32px;
	width: 20%;
	height: 100%;
	overflow: auto;
	font-size: 14px;
	background-color: var(--bg-color);
	transition: all .2s;
}

.logo {
	font-weight: 900;
	font-size: 24px;
	padding: 0 32px;
}

.subhead {
	padding: 32px;
	color: var(--secondary-color);
	font-weight: 600;
	transition: all .2s;
}

.nav {
	display: flex;
	align-items: center;
	padding: 16px 32px;
	margin: 8px 0;
	font-weight: 600;
	background-color: var(--bg-color);
	border-radius: 32px;
	transition: all .2s;
}

.nav .icon {
	margin-right: 16px;
}

.nav.current {
	color: var(--bg-color);
	background: var(--primary-color);
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .4));
}

.nav:hover {
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .2));
}

.spacer {
	display: flex;
	flex-grow: 1;
}

.theme-switch {
	display: flex;
	height: 16px;
	position: relative;
	width: 32px;
	margin: 32px;
}

.theme-switch input {
	display: none;
}

.theme-switch::before {
	content: '🌗';
	cursor: pointer;
	padding-left: 48px
}

.slider {
	background-color: var(--light-bg-color);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 8px;
	transition: all .2s;
}

.slider:hover:before {
	background: var(--light-bg-color);
}

.slider:active:before {
	background: var(--light-bg-color);
}

.slider:before {
	background-color: var(--secondary-color);
	bottom: 0;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	width: 16px;
	border-radius: 8px;
	transition: all .2s;
}

input:checked + .slider {
	background-color: var(--light-bg-color);
}

input:checked + .slider:before {
	transform: translateX(16px);
}

article {
	width: 80%;
	margin-left: 20%;
}

.results {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 32px;
}

.search-box {
	display: flex;
	flex-grow: 1;
	font-size: 16px;
	font-weight: 600;
	padding: 16px 0;
	text-overflow: ellipsis;
	background-color: transparent;
	color: var(--font-color);
	transition: all .2s;
}

.section-title {
	font-weight: 900;
	font-size: 32px;
	margin: 16px 0;
}

.pagination {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 46px;
	width: 46px;
	font-size: 20px;
	border-radius: 50%;
	background-color: var(--light-bg-color);
	color: var(--font-color);
	cursor: pointer;
	transition: all .2s;
}

.pagination:hover {
	background-color: var(--font-color);
	color: var(--bg-color);
}

.loader {
	display: flex;
	width: 32px;
	height: 32px;
	margin-bottom: 32px;
	background: var(--secondary-color);
	border-radius: 50%;
	animation: fadein 1s infinite;
	transition: all .2s;
}

.prompt {
	display: flex;
	padding: 16px;
	color: var(--secondary-color);
	transition: all .2s;
}

.category {
	display: flex;
	align-items: center;
	flex: 1;
	height: 25vh;
	margin: 16px;
	color: #fff;
	border-radius: 16px;
	filter: drop-shadow(0 8px 8px rgba(0, 0, 0, .4));
	background-size: cover;
	background-position: center center;
	transition: all .2s;
}

.category:hover {
	filter: drop-shadow(0 16px 16px rgba(0, 0, 0, .4));
}

.category:nth-child(1) {
	background-color: #000000;
	background-image: url("icons/Bullseye-Gradient.svg");
}

.category:nth-child(2) {
	background-color: #ff66bb;
	background-image: url("icons/Cornered-Stairs.svg");
}

.category:nth-child(3) {
	background-color: #ff7700;
	background-image: url("icons/Flat-Mountains.svg");
}

.category:nth-child(4) {
	background-color: #ff0000;
	background-image: url("icons/Quantum-Gradient.svg");
}

.list-book {
	display: flex;
	flex-wrap: wrap;
	padding: 32px 16px;
	width: 100%;
}

.book {
	display: flex;
	flex: 1;
	padding: 32px;
	margin: 16px;
	border-radius: 32px;
}

.categories {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	overflow: auto;
}

.categories .book {
	white-space: nowrap;
	width: 100%;
}

.book-info {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

.thumbnail {
	border-radius: 16px;
	margin-right: 32px;
	animation: zoomin .5s;
	filter: brightness(110%) contrast(110%) drop-shadow(0 4px 8px rgba(0, 0, 0, .2));
	transform: translate(0, -64px);
	transition: all .2s;
}

.thumbnail:hover {
	transform: translate(0, -64px) scale(1.1);
	filter: brightness(110%) contrast(110%) drop-shadow(0 8px 8px rgba(0, 0, 0, .4));
}

.book-title {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-weight: 900;
	margin: 0;
}

.book-authors {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: var(--secondary-color);
	cursor: pointer;
	margin: 16px 0;
}

.info {
	display: inline-flex;
	text-align: center;
	padding: 8px 16px;
	color: var(--secondary-color);
	font-size: 12px;
	font-weight: 600;
	border-radius: 32px;
	cursor: pointer;
}

.search,
.prev {
	display: none;
}

.trigger {
	cursor: pointer;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.05);
	transition: all .2s;
	z-index: 99;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: all .2s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bg-color);
	padding: 32px;
	min-width: 50%;
	max-height: 80%;
	border-radius: 8px;
	overflow: auto;
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .2));
}

.close-button {
	position: absolute;
	right: 16px;
	top: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	font-size: 18px;
	color: var(--secondary-color);
	cursor: pointer;
	transition: all .2s;
}

.close-button:hover {
	color: var(--font-color);
}

.book-details {
	display: flex;
}

.book-cover {
	border-radius: 4px;
	margin-right: 16px;
}

@media (max-width: 768px) {
	aside {
		position: sticky;
		top: 0;
		padding: 16px;
		width: 100%;
		z-index: 1;
	}

	nav {
		display: none;
	}

	article {
		margin: 0;
		width: 100%;
	}
}
