* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
	font-family: Montserrat, 'Roboto', 'Noto', sans-serif;
}

::placeholder {
	color: #555555;
}

::selection {
	background: #212121;
	color: #ffffff;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

body {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	color: #212121;
	animation: fadein .2s;
	font-size: 18px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main {
	padding-top: 80px;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	padding: 16px 32px;
}

.logo {
	font-weight: 900;
	font-size: 32px;
}

.search {
	width: 100%;
	font-size: 16px;
	padding: 0 32px;
	font-family: Montserrat, monospace;
	text-overflow: ellipsis;
}

.results {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.list-book {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 70%;
}

.book {
	display: inline-flex;
	padding: 32px;
	width: 50%;
}

.book-info {
	display: flex;
	flex-direction: column;
}

.book-title {
	font-weight: 900;
}

.book-authors {
	color: #555;
}

.book-rating {
	color: #555;
}

.thumbnail {
	border-radius: 16px;
	margin-right: 32px;
	animation: fadein 2s;
}

.info {
	display: block;
	padding: 16px 32px;
	margin: 16px 0;
	border-radius: 32px;
	background-color: #eee;
}

@media (max-width: 800px) {
	.list-book {
		width: 100%;
	}

	.book {
		width: 100%;
	}
}
