:root {
	--primary-color: #212126;
	--secondary-color: #ababb5;
}

* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
	font-family: Montserrat, 'Roboto', 'Noto', sans-serif;
}

::placeholder {
	color: var(--secondary-color);
	text-transform: none;
}

::selection {
	background: var(--primary-color);
	color: #fff;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes zoomin {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

body {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	color: var(--primary-color);
	animation: fadein .2s;
	font-size: 16px;
	transition: all .2s;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover,
.book-authors:hover {
	color: #000;
	background: linear-gradient(120deg, #12c2e9, #c471ed, #f64f59);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

main {
	padding: 64px 0;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	padding: 16px 32px;
	border-bottom: 1px solid #eee;
	z-index: 2;
}

.logo {
	font-weight: 900;
	font-size: 24px;
	color: #000;
	background: linear-gradient(120deg, #12c2e9, #c471ed, #f64f59);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo:hover {
	color: #000;
	background: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.search {
	width: 100%;
	font-size: 14px;
	padding: 0 32px;
	font-family: Montserrat, monospace;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.results {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 32px 0;
}

.list-book {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}

.loader {
	display: flex;
	width: 32px;
	height: 32px;
	margin-bottom: 32px;
	background: var(--secondary-color);
	border-radius: 50%;
	animation: zoomin .5s infinite;
}

.prompt {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1;
	padding: 32px;
	color: var(--secondary-color);
}

.book {
	display: flex;
	padding: 32px;
	width: 50%;
}

.book-info {
	display: inline-flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: flex-start
}

.thumbnail {
	border-radius: 16px;
	margin-right: 32px;
	animation: zoomin .5s;
	transition: all .2s;
	filter: brightness(110%) contrast(110%) drop-shadow(0 4px 8px rgba(0, 0, 0, .2));
}

.thumbnail:hover {
	transform: scale(1.1);
	filter: brightness(110%) contrast(110%) drop-shadow(0 8px 16px rgba(0, 0, 0, .4));
}

.book-title {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-weight: 900;
	margin: 16px 0;
}

.book-authors {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: var(--secondary-color);
	cursor: pointer;
}

.info {
	display: inline-flex;
	text-align: center;
	padding: 8px 16px;
	margin: 16px 0 0 0;
	border-radius: 32px;
	font-size: 12px;
	color: #c471ed;
	background: linear-gradient(120deg, rgba(18, 194, 233, .2), rgba(196, 113, 237, .2), rgba(246, 79, 89, .2));
	cursor: pointer;
	transition: all .2s;
}

.info:hover {
	background: linear-gradient(120deg, rgba(18, 194, 233, .8), rgba(196, 113, 237, .8), rgba(246, 79, 89, .8));
	color: #fff;
}

.flex {
	display: flex;
	flex-grow: 1;
	width: 70%;
	padding: 0 32px;
}

@media (max-width: 800px) {

	.list-book {
		width: 100%;
	}

	.book {
		width: 100%;
	}

	.flex {
		width: 100%;
	}
}
